@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

QWidget {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #22222e;
}
QPushButton {
    background: fb5b5d;
    border: 2px solid green;
    border-radius: 12px;
    color: white;
}
QPushButton:hover {
    border-radius: 6px;
    background-color: #fc8383;
    color: black;
}
QPushButton:pressed {
    border-radius: 6px;
    background-color: #ff4545;
    color: black;
}